<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("45762e95-252b-4ec3-94e4-c38ae530b2fc");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
